/* Algemene styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--off-white);
    color: var(--soft-black);
    line-height: 1.6;
    font-family: var(--site-font);
}

h1 {
    font-size: var(--font-size-huge);
    font-family: var(--heading-font);
    text-align: center;
    margin: 20px 0;
    color: var(--primary-text-color);
}

/* Header styling */
#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--black);
    color: var(--secondary-text-color);
    position: sticky;
    top: 0;
    left: 0;
}

#header-buttons button {
    background-color: var(--button-color);
    color: var(--primary-text-color);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-family: var(--button-font);
}

#header-buttons button:hover {
    background-color: var(--button-hover);
    color: var(--secondary-text-color);
}

/* Zoeksectie */
#search-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-family: var(--button-font);
}

#search-input-container {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
    font-family: var(--button-font);
}

#search-input,
#location-input {
    flex: 1;
    padding: 10px;
    font-family: var(--button-font);
    font-size: var(--font-size-small);
    border: 1px solid var(--color-lightgray);
    border-radius: var(--border-radius);
}


#afstand-knop {
    padding: 10px;
    font-size: var(--font-size-small);
    border: 1px solid var(--color-lightgray);
    border-radius: var(--border-radius);
    cursor: pointer;
}


.zoek-button {
    background-color: var(--button-color);
    color: var(--black);
    padding: 10px 20px;
    font-size: var(--font-size-small);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-family: var(--button-font);
}

.zoek-button:hover {
    background-color: var(--button-hover);
    color: var(--white);
}

/* Filters */
#filters {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

.filter-item {
    flex: 1 1 calc(50% - 10px);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter-item select,
.filter-item input {
    padding: 10px;
    margin: 0;
    font-size: var(--font-size-small);
    border: 1px solid var(--color-lightgray);
    border-radius: var(--border-radius);
}

.salaris-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.salaris-inputs input {
    flex: 1 1 100%;
    padding: 10px;
    font-size: var(--font-size-small);
    border: 1px solid var(--color-lightgray);
    border-radius: var(--border-radius);
    min-width: 0;
}

@media (min-width: 768px) {
    .salaris-inputs input {
        flex: 1;
    }
}

.clear-filters-button {
    font-family: var(--button-font);
    background-color: var(--button-color);
    color: var(--black);
    border: none;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    margin-top: 15px;
}

.clear-filters-button:hover {
    background-color: var(--button-hover);
    color: var(--white);
}

#results-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-family: var(--button-font);
}

.results-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; 
    align-items: center;
    max-width: 800px;
}

.button {
    font-family: var(--button-font);
    background-color: var(--button-color);
    color: var(--black);
    border: none;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    margin: 0;
    text-align: center;
    white-space: nowrap; 
}

.button:hover {
    background-color: var(--button-hover);
    color: var(--white);
}

.button-dropdown {
    padding: 10px;
    font-size: var(--font-size-small);
    border: 1px solid var(--color-lightgray);
    border-radius: var(--border-radius);
    cursor: pointer;
    white-space: nowrap; 
}


/* Sorteer-label styling */
.filter-item label {
    font-size: var(--font-size-small);
    margin-bottom: 5px;
    display: inline-block;
    font-weight: bold;
    color: var(--black);
}

/* Responsiveness voor desktop */
@media (min-width: 768px) {
    #results-section {
        flex-direction: row; 
        justify-content: space-between;
    }

    .results-buttons {
        justify-content: space-between; 
    }
}

/* Vacaturekaarten */
.vacature-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.vacature-card {
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--full-box-shadow);
    padding: 1em;
    margin: 20px 0;
    font-size: var(--font-size-small);
}

.vacature-card h2 {
    font-family: var(--heading-font);
    font-size: var(--font-size-medium);
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.vacature-knop {
    display: inline-block;
    margin-top: 15px;
    background-color: var(--button-color);
    color: var(--black);
    padding: 10px 15px;
    border-radius: var(--half-border-radius);
    text-decoration: none;
    font-size: var(--font-size-small);
    font-family: var(--button-font);
}

.vacature-knop:hover {
    background-color: var(--button-hover);
    color: var(--white);
}

.save-button {
    background-color: var(--color-lightgray);
    border: none;
    padding: 10px;
}

/* Algemene footer-styling */
.footer-sectie {
    display: flex;
    flex-direction: column;
    background-color: var(--accent-color);
    padding: 20px;
    color: var(--black);
    font-family: var(--site-font);
    gap: 20px;
}

.footer-column {
    flex: 1;
}

.footer-column h2 {
    font-size: var(--font-size-normal);
    margin-bottom: 10px;
}

.footer-column p {
    font-size: var(--font-size-small);
    line-height: 1.5;
}

.footer-column p strong {
    color: var(--white);
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    font-size: var(--font-size-small);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.footer-column ul li .icon {
    margin-right: 8px;
    font-size: var(--font-size-normal);
}

.footer-column ul li ul {
    margin-top: 5px;
    padding-left: 20px;
}

.footer-column ul li ul li {
    font-size: var(--font-size-small);
    margin-bottom: 5px;
}

/* Onderste footer */
.footer-bottom {
    background-color: var(--black);
    color: var(--white);
    padding: 10px 20px;
    font-size: var(--font-size-small);
    text-align: center;
}

/* Desktop uitbreidingen */
@media (min-width: 768px) {
    .footer-sectie {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-column {
        max-width: 30%;
    }

    .footer-bottom-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-bottom {
        text-align: left;
    }
}

.footer-bottom-content p {
    margin: 0;
}

.footer-bottom-content ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-bottom-content ul li {
    margin-left: 20px;
}

.footer-bottom-content ul li a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

.footer-bottom-content ul li a:hover {
    text-decoration: underline;
}